body{
    /*background: linear-gradient(90deg, rgb(216, 182, 238) 0%, rgb(240, 110, 110) 75%, rgba(252,176,69,1) 100%);*/
    font-family:Arial, Helvetica, sans-serif ;
    line-height: 1.4;
    margin-left: 18px;
    background-color: yellowgreen;
}
#header{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    text-align: center;
    color: white;
}
.textpar{
    text-align: center;
}
.home{
    text-shadow: 10px 0px 10px darkgrey;
    text-align: center;
    margin-top: 50px;
    padding: 30px;
}
.asterisk{
    color: red;
}
.containerForm{
    background-color:rgba(0, 0, 0, 0.1);
    margin-top: 5%;
    margin-left:5%;
    border: solid;
    border-radius: 15px;
    box-shadow: 0px 10px  10px 10px  rgba(0, 0, 0, 0.3);
    height: 40%;
    width: 40%;

}
.navbar-dark{
    color: aliceblue;
}
span.errorMessage{
    color:red;
}
span{
    color: red;
}

td a {

    color: black;
    text-align: center;
    float: left;
    padding: 3px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

td a.active {
    background-color: #4CAF50;
    color: white;
    border: 2px solid #4CAF50;
}
td a:hover:not(.active) {background-color: yellowgreen;}
.btn{
    padding-left: 20%;
    display: flex;
    justify-content: center;

}