<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show List of Students</title>
    <link rel="stylesheet" href="/css/myStyle.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>
<header th:replace="fragments/header::header"></header>
<br>
<div class="container">
    <div class="row">
        <h2> List of registered Students</h2>
    </div>
    <!-----Add Student Button--->
    <br>
    <div class="ctn-btn">
        <section>
            <form action="/eregistrar/student/search" method="get" >
                <div class="form-group mb-4 col-4">
                    <label>Search by firstName or LastName</label>
                    <br>
                    <input   type="search" name="searchString" id="searchString" style="border-radius: 5px;padding: 6px"
                            th:value="${searchString}" placeholder="Search..." autofocus
                    >
                    <button type="submit" class="btn btn-primary btn-mb mb-9">Search</button>
<!--                            <a  style="padding: 6px" th:href="@{/eregistrar/student/search}"-->
<!--                               class="btn btn-primary btn-mb mb-9">Search</a></td>-->
                </div>
            </form>
        </section>
        <br>
        <div class="row">
            <div class="col-lg-9">
                <a th:href="@{/eregistrar/student/new}" class="btn btn-primary btn-sm mb-6">Add Student</a>
            </div>
        </div>
    </div>
    <br>
    <section>
        <table class="table table-striped table-bordered">
            <thead>
            <th>#</th>
            <th>Student Number</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>CGPA</th>
            <th>Enrollment Date</th>
            <th>Is International</th>
            <th>Update</th>
            <th>Delete</th>
            </thead>
            <tbody>
            <tr th:each="student, counter : ${students}">
                <th scope="row" th:text="${counter.count} + ' . '"></th>
                <td th:text="${student.getStudentNumber()}"></td>
                <td th:text="${student.getFirstName()}"></td>
                <td th:text="${student.getMiddleName()}"></td>
                <td th:text="${student.getLastName()}"></td>
                <td th:text="${student.getCgpa()}"></td>
                <td th:text="${student.getDateOfEnrollment()}"></td>
                <td th:text="${student.getIsInternational()}"></td>
                <td>
                    <a th:href="@{/eregistrar/student/edit/{id}(id=${student.getStudentId()})}"
                       class="btn btn-primary btn-sm mb-3">Update</a></td>
                <td>
                    <a th:href="@{/eregistrar/student/delete/{id}(id=${student.getStudentId()})}"
                       class="btn btn-danger btn-sm mb-3">Delete</a></td>

                <!--                <a th:href="@{/showFormForUpdate/{id}(id=${student.id})}"-->
                <!--                   class="btn btn-primary"> Update </a>-->
            </tr>
            </tbody>
        </table>
    </section>

    <section style="margin-top: 2em">
        <!------Pagination----------->
        <table stborder="1" cellspacing="10" cellpadding="10"  style="border-radius: 5px; border: solid gray" >
            <tbody>
            <tr>
                <th scope="row ">Pages:</th>
                <td th:each="pageCount : ${#numbers.sequence(1, students.totalPages)}">
                    <a th:if="${currentPageNo == pageCount-1}"
                       th:href="@{/eregistrar/student/list(pageNo=${pageCount-1})}"
                       th:text="${pageCount}" style="padding: 100%; "></a>
                    <a th:if="${currentPageNo != pageCount-1}"
                       th:href="@{/eregistrar/student/list(pageNo=${pageCount-1})}"
                       th:text="${pageCount}"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</div>

</body>
</html>